#root {
  text-align: center;
  margin: 0 auto;
}
/* styles.css */
.carousel-container {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.carousel-container::-webkit-scrollbar {
  display: none; /* WebKit */
}
