#root {
  text-align: center;
  margin: 0 auto;
}
.carousel-container {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}
